body {
    background-color: pink;
}

.navbar {
    background-color: #2c3e50;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 0 15px;
}

.navbar-links a{
    list-style: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    margin-right: 2em;
}